@use "./scss/variables.scss" as v;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: v.$public-sans;
	background-color: v.$neutral-very-light-gray;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	font-size: 1.125rem;
}

button {
	outline: none;
	cursor: pointer;
	background-color: #fff;
	border: none;
	font-family: inherit;
	font-size: inherit;
}

p {
	color: v.$neutral-grayish-blue;
	font-size: 1.125rem;
}

.main {
	max-width: v.$desktop;
	margin: auto;
}
